#calc-wrapper{
    position: relative;
    width: 500px;
    border: none;
    margin: 0 auto;
    padding: 2px 4px 2px 2px;
    background-color: #202020;
    color: #ffffff;
}

.row {
    display: flex;
    justify-content: space-between;
}


input[type=button] {
    background: #131313;
    width: 25%;
    height: 50px;
    font-size: 20px;
    margin: 2px 0 0 2px;
    color: #ffffff;
    border:none;
}

input[type=button].number {
    background: #060606;
}

input[type=button]:hover {
    background: #888888;
}

input[type=text].result {
    background-color: #202020;
    color: #ffffff;
    font-size: 40px;
    border: none;
    text-align: right;
    width: 100%;
    max-width: 100%;
    min-width: 50px;
    margin-bottom: 15px;
}

input[type=text].error {
    background-color: #202020;
    color: #ffffff;
    font-size: 14px;
    border: none;
    text-align: left;
    width: 100%;
    max-width: 100%;
    min-width: 50px;
    margin: 5px 0;
}

.disable {
    pointer-events: none;
    opacity: 1;
}